<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="XL">
    <parameter name="url" value="www.google.com"/>
    <test name="navigate">
        <classes>
            <class name="testNG.Example.test.SampleTest">
                <methods>name = "LoginTest"</methods>
            </class>
        </classes>
    </test>
</suite>